html {
    background-color: #ffffff;
    font-family: 'Roboto Slab', serif;
}

@media only screen and (min-width: 770px){
    body {
        width: 770px !important;
        margin: 0 auto !important;
        position: relative !important;
    }
}
